{% extends 'admin/pages/products/template.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations relatives au produit {{ elem.name }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_products_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="products_update" data-element="{{ element }}">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
