{% extends 'user/pages/tutorials/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-12">
        <h3 class="text-3xl font-bold">Bouton caché</h3>
        <div class="mt-4">
            Avec un compte administrateur, vous avez accès à un bouton caché latéral du côté gauche en bleu.
            <br> Sélectionnez la société et autres informations si nécessaire puis validez
            <br><br> La page vous redirige vers le page de Dashboard.
            <div class="mt-8">
                <span class="text-red-500 font-semibold">Attention</span>, vos actions ont la même porté qu'un utilisateur de la société.
                <br>Vos publications ne sont pas sauvegardées dans l'historique des publications.
            </div>
            <div class="mt-4">
                En tant qu'administrateur vous pouvez connaitre les modifications réalisées sur un bien
                en allant sur la page de suivi du bien en question.
            </div>
        </div>
    </div>
{% endblock %}
