{% extends 'user/pages/tutorials/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-12">
        <h3 class="text-3xl font-bold">Locations importées depuis le logiciel de gérance</h3>
        <div class="mt-4">
            Pour les bien en gérance, il faut passer par le logiciel de gérance pour rendre le bien loué.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">Méthode classique</h3>
        <div class="mt-4">
            - Rendez-vous dans la liste des biens en location ou vente.
            <br>
            Cliquez sur le bouton Bien loué/vendu pour afficher une boite de dialogue.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/lotys/sell_rent/1.png') }}" alt="image 1" class="shadow p-2 rounded-md bg-white">
            </div>
            <br> Renseignez les informations correspondantes.
            <br> Si vous sélectionnez un prospect, celui-ci sera transféré dans la liste des propriétaires ou des locataires.
            <br> <i>Continuer à publier</i> et <i>Publier jusqu'au</i>, permet de continuer la publication de cette annonce vers votre site agence.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/lotys/sell_rent/2.png') }}" alt="image 2" class="shadow p-2 rounded-md bg-white">
            </div>
        </div>
    </div>
{% endblock %}
