{% extends 'user/pages/tutorials/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-12">
        <h3 class="text-2xl font-bold">Création d'une visite d'un bien</h3>
        <div class="mt-4">
            Pour créer une visite, il existe 2 chemins possibles.
            <ul>
                <li>Dans la liste des biens, via le menu du bien, cliquez sur <b>Créer une visite</b></li>
                <li>Dans la page Dashboard, cliquez sur <b>Ajouter d'un évènement</b>, il faudra sélectionner <i>Visite</i> comme type d'évènement.</li>
            </ul>
            <br> Cela vous ouvre une boite de dialogue.
            Si vous venez de la liste des bien, le type d'évènement <i>Visite</i> et <i>Bien</i> sont sélectionnés
            par défaut et d'autres informations sont préremplis.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/lotys/visits/1.png') }}" alt="image 1">
            </div>
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-2xl font-bold">Affichage des visites</h3>
        <div class="mt-4">
            Il existe 4 moyens de voir vos visites.
            <ul>
                <li>Dans la page de suivi d'un bien</li>
                <li>Dans la page Dashboard, onglet Rendez-vous du mois.</li>
                <li>Dans la page Immobilier > Visites.</li>
                <li>Dans la page Outils > Agenda.</li>
            </ul>
            <br>
            Chacun de ces points vous permet de récupérer un document PDF pour un bon de visite.
        </div>
    </div>
{% endblock %}
