<div class="deco-1">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FF0066" d="M65.8,-44.7C79.9,-34.7,82.4,-7.7,73.9,11.8C65.5,31.3,46,43.2,26.4,51.2C6.8,59.3,-12.9,63.5,-26.1,56.3C-39.3,49.1,-46,30.6,-50.7,11.2C-55.3,-8.1,-57.9,-28.2,-49.2,-37C-40.4,-45.8,-20.2,-43.2,2.8,-45.5C25.8,-47.7,51.6,-54.7,65.8,-44.7Z" transform="translate(100 100)" />
    </svg>
</div>
