{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Documentation, F.A.Q et tutoriels intégral !{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-default-title">
            <h2>Produits ⚒️</h2>
        </div>
        <div class="products">
            <div class="card">
                <div class="card-header">
                    <div class="logo">
                        <img src="{{ asset('logos/logo_lotys.svg') }}" alt="Logo lotys.fr">
                    </div>
                    <div class="name">
                        <div>Lotys</div>
                        <div class="linkTo">
                            <a href="https://lotys.fr" title="lotys.fr">
                                <span>lotys.fr</span>
                                <span class="icon-link-2"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        Webservice pour la gestion des transactions immobilières. <br>
                        Diffusez facilement vos annonces sur différentes plateformes !
                    </div>
                </div>
                <div class="card-footer">
                    <a href="" class="txt-button txt-button-primary">
                        <span>Découvrir Lotys</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="logo">
                        <img src="{{ asset('logos/logo_magesto.svg') }}" alt="Logo magesto.fr">
                    </div>
                    <div class="name">
                        <div>Magesto</div>
                        <div class="linkTo">
                            <a href="https://magesto.fr" title="magesto.fr">
                                <span>magesto.fr</span>
                                <span class="icon-link-2"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="content">
                        Webservice pour la gestion des factures, devis et avoirs. <br>
                        Programmez vos contrats pour rapidement générer et envoyer vos documents !
                    </div>
                </div>
                <div class="card-footer">
                    <a href="" class="txt-button txt-button-primary">
                        <span>Découvrir Magesto</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
