{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Documentation, F.A.Q et tutoriels intégral !{% endset %}

{% block main_content %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="flex flex-col gap-2">
            <div>
                {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                    btn_link: path('admin_products_create'),
                    btn_type: 'blue',
                    btn_icon: 'add',
                    btn_text: 'Ajouter un produit'
                } %}
            </div>
            <div class="flex flex-col gap-4 md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
                {% include "user/pages/products/components/products_light.html.twig" %}
            </div>
        </div>
    {% else %}
        <div class="flex flex-col gap-4 md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
            {% include "user/pages/products/components/products.html.twig" %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
