{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <div class="text-blue-500 font-semibold text-lg">Introduction</div>
        <h3 class="text-3xl font-bold">Pourquoi un TDB (tableau de bord) ?</h3>
        <div class="mt-4">
            Le TDB permet, au logiciel esyndic et egerance, d’afficher des informations importantes pour les utilisateurs.
            <br><br>
            Ces informations sont regroupées sous forme de Widgets qui peuvent être dans 4 formats :
            <ul>
                <li>Valeur unique</li>
                <li>Valeurs multiples (jusqu’à 4)</li>
                <li>Graphiques</li>
                <li>Temporelles (jusqu’à 4)</li>
            </ul>
        </div>
    </div>
{% endblock %}
