{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <h3 class="text-3xl font-bold">Bloquer une société ou un utilisateur ?</h3>
        <div class="mt-4">
            Bloquer une société, rend tous les comptes utilisateurs associés à cette société obsolète.
            <br><br>
            Bloquer un utilisateur, rend la connection à ce compte obsolète.
        </div>
    </div>
    <div class="py-6">
        <h3 class="text-3xl font-bold">Comment bloquer/débloquer une société ou un utilisateur</h3>
        <div class="mt-4">
            Dans l'interface administrateur, que ce soit sur <i>Sociétés</i> ou <i>Utilisateurs</i>, la méthode est la même.
            <br><br>
            Dans le menu <span class="icon-more"></span>, Cliquez sur <b>Bloquer</b> ou <b>Débloquer</b> puis confirmer la boite de dialogue.
        </div>
    </div>
{% endblock %}
