{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="flex flex-col gap-12">
        <section>
            <h2 class="{{ style_article_title }}">Utilisateurs</h2>
            <div class="{{ style_article_content }}">
                <p>
                    Les comptes utilisateurs permettent de se connecter au webservice Lotys.
                    <br>
                    <span class="font-medium underline">Un seul accès par compte est autorisé.</span>
                    <br>
                    <br>
                    Pour ajouter un compte utilisateur, il faut en faire la demande auprès de Logilink
                     à <a href="mailto:logilink@logilink.fr" class="text-blue-500 underline hover:text-blue-700">logilink@logilink.fr</a>.
                </p>
            </div>
        </section>
        <section>
            <h2 class="{{ style_article_title }}">Négociateurs</h2>
            <div class="{{ style_article_content }}">
                <p>
                    Les négociateurs permettent principalement de savoir à qui est rattaché tel bien, prospect, propriétaire, etc..
                    <br>
                    Un négociateur peut être lié à un utilisateur pour gagner du temps, par exemple, lors de la
                    création d'un bien, le négociateur associé sera automatiquement sélectionné.
                    <br><br>
                    Les informations du négociateur sont utilisés sur des documents et/ou les annonces.
                    <br><br>
                    Vous pouvez ajouter autant de négociateur que vous souhaitez.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
