{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <h3 class="text-2xl font-bold">Utilisateurs</h3>
        <div class="mt-4">
            Les utilisateurs permet de se connecter au webservice Lotys.
            <br> Les informations liées au compte ne sortent pas du webservice.
            <br> Dans la page Paramètres > Mon Compte, vous pouvez personnaliser votre compte et
            améliorer votre ergonomie selon votre profil.
            <br><br>
            Un seul accès par compte est autorisé.
            <br>
            Pour ajouter un compte utilisateur, il faut en faire la demande auprès de Logilink par <u>mail</u>.
        </div>
    </div>
    <div class="py-6">
        <h3 class="text-2xl font-bold">Négociateurs</h3>
        <div class="mt-4">
            Les négociateurs permettent principalement de savoir à qui est rattaché tel bien, prospect, propriétaire, etc..
            <br>
            Un négociateur peut être lié à un utilisateur pour gagner du temps, par exemple, lors de la
            création d'un bien, le négociateur associé sera automatiquement sélectionné.
            <br><br>
            Les informations du négociateur sont utilisés sur des documents et/ou les annonces.
            <br><br>
            Vous pouvez ajouter autant de négociateur que vous souhaitez.
        </div>
    </div>
{% endblock %}
