.items-changelogs{
  .item-infos{
    $col1: 220px; $col3: 160px; $col4: 72px; $colGap: 24px;
    @media (min-width:768px) {
      & > .col-1{ width: $col1; }
      & > .col-2{
        width: calc(100% - $col1 - $col3 - $col4 - $colGap);
      }
      & > .col-3{ width: $col3; }
      & > .col-4.actions{ width: $col4; }
    }
    @media (min-width:1280px) {
      $col1: 240px;
      & > .col-1{ width: $col1; }
      & > .col-2{
        width: calc(100% - $col1 - $col3 - $col4 - $colGap);
      }
    }
    @media (min-width:1536px) {
      & > .col-2{
        width: 568px;
      }
    }
  }
}
