@import "../vars/vars";

@import "./components/form";

.documentation-read{

  .documentation-meta{
    @include flex(row, center, space-between, var(--espaceEls));
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    padding: var(--espaceLayout) 0;
  }

  .features{
    @include flex(column, flex-start, flex-start, 4px);
  }
  .author{
    @include flex(column, flex-end, flex-start, 4px);
  }

  .duration, .product, .user, .likes .item{
    @include flex(row, center, flex-start, 6px);
  }

  .likes{
    @include flex(row, center, flex-start, 12px);

    .item{
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &.active{
        &:first-child{
          color: var(--primary);
        }
        &:last-child{
          color: var(--danger);
        }
      }

      &:hover{
        opacity: 0.9;
      }
    }
  }

  .duration, .product, .date, .likes .item{
    font-size: 14px;
    opacity: 0.6;

    [class^="icon-"]{
      transform: translateY(-1px);
    }
  }

  .documentation-content{
    padding: var(--espaceLayout) 0;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #documentations_create, #documentations_update{
    .line-buttons{
      flex-direction: row;

      .btn{
        width: 100%;
      }
    }
  }
}
