@import "../vars/vars";

@import "../../../common/css/pages/products";

.delete-product{
  @include flex(row, center, center);
}

.products{
  @include flex(row, flex-start, flex-start, var(--espaceDiv));
  flex-wrap: wrap;

  .card{
    background-color: var(--color0);
    max-width: 321px;

    .card-footer-admin{
      & > .delete-product .btn-icon{
        &:hover{
          .tooltip{
            top: -27px;
            right: -22px;
          }
        }
      }
    }
  }
}
