@import "../vars/vars";

@import "./components/form";
@import "../components/help";

.delete-doc, .delete-tuto, .favorite-tuto{
  @include flex(row, center, center);
}

.product-read{
  @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

  & > [class^="product-line-"]{
    width: 100%;
  }

  h2{
    margin-bottom: 4px;
  }

  .subtitle{
    opacity: 0.85;
    font-size: 15px;
  }

  .btn-add{
    display: flex;
    margin-top: var(--espaceDiv);

    .btn{
      width: auto;
    }
  }
}

.product-line-0{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));
}

.guide-start, .cta-faq{
  width: 100%;
  border-radius: calc(var(--radius) * 2);
  padding: var(--espaceDiv);
}

.guide-start{
  @include flex(row, stretch, space-between, var(--espaceEls));
  background-color: var(--color0);

  & > .col-2{
    @include flex(column, flex-start, space-between, var(--espaceDiv));
  }

  img {
    width: 32px;
  }
}

.cta-faq{
  background-color: var(--primary);

  .cta{
    display: flex;
    justify-content: flex-end;
  }
}

.tutorials{
  @include flex(row, flex-start, flex-start, var(--espaceDiv));
  flex-wrap: wrap;
  margin-top: var(--espaceDiv);

  .card{
    background-color: var(--color0Opacity4);
    border-radius: calc(var(--radius) * 2);
    width: 100%;
    max-width: 321px;

    .card-header, .card-body{
      padding: var(--espaceDiv);
    }

    .card-header{
      border-bottom: 1px solid var(--color3);

      .name{
        @include fontSemibold();
        font-size: 17px;
      }
    }

    .card-body{
      border-bottom: 1px solid var(--color3);
      opacity: 0.85;
      font-size: 15px;
      min-height: 100px;
    }

    .card-footer{
      @include flex(row, flex-start, flex-end);

      .txt-button{
        border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
      }

      .btn-icon{
        color: var(--alpha);
      }

      & > .delete-doc .btn-icon,
      & > .delete-tuto .btn-icon,
      & > .favorite-tuto .btn-icon{
        &:hover{
          .tooltip{
            top: -27px;
            right: -22px;
          }
        }
      }

      & > *{
        position: relative;
        width: 100%;
        min-height: 48px;

        &:not(.delete-doc, .delete-tuto, .favorite-tuto):hover{
          .tooltip{
            top: -18px;
            right: 22px;
          }
        }

        &:not(:last-child){
          &:after{
            content: "";
            display: block;
            width: 1px; height: calc(100% - 16px);
            position: absolute;
            top: 8px; right: 0;
            background-color: var(--color3);
          }
        }
      }
    }
  }
}

.documentations{
  .card{
    .card-header{
      @include flex(column, center, center, var(--espaceEls));

      .icon{
        @include flex(column, center, center);
        width: 32px; height: 32px;
        border-radius: var(--radius);
        background-color: var(--color0);
      }
    }
  }
}

.faqs{
  margin-top: var(--espaceDiv);

  .loader-content{
    margin: 0;
  }

  .help-categories > .item:not(.active){
    background-color: var(--color0Opacity4);

    &:hover{
      background-color: var(--color0);
    }
  }

  .question.active{
    .question-header, .question-body{
      background-color: var(--color0);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .product-line-0{
    flex-direction: row;
    align-items: stretch;
  }

  $ctaFAQWidth: 300px;

  .guide-start{
    width: calc(100% - $ctaFAQWidth);

    img{
      width: 42px;
    }
  }

  .cta-faq{
    width: $ctaFAQWidth;
  }
}
