@import "../vars/vars";

@import "./components/form";

.line-tuto-step{
  label{
    @include flex(row, center, space-between, var(--espaceEls));
    width: 100%;
  }
}

.tutorial-read{

  .tutorial-meta{
    @include flex(row, center, space-between, var(--espaceEls));
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    padding: var(--espaceLayout) 0;
  }

  .features{
    @include flex(column, flex-start, flex-start, 4px);
  }
  .author{
    @include flex(column, flex-end, flex-start, 4px);
  }

  .duration, .product, .user, .likes .item{
    @include flex(row, center, flex-start, 6px);
  }

  .likes{
    @include flex(row, center, flex-start, 12px);

    .item{
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &.active{
        &:first-child{
          color: var(--primary);
        }
        &:last-child{
          color: var(--danger);
        }
      }

      &:hover{
        opacity: 0.9;
      }
    }
  }

  .duration, .product, .date, .likes .item{
    font-size: 14px;
    opacity: 0.6;

    [class^="icon-"]{
      transform: translateY(-1px);
    }
  }

  .tutorial-content{
    padding: var(--espaceLayout) 0;
  }

  .steps{
    position: relative;
    @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

    &:before{
      content: "";
      background-color: var(--color3);
      display: block;
      width: 3px; height: 100%;
      position: absolute;
      top: 0; left: 15px;
    }

    .step{
      position: relative;
      @include flex(row, flex-start, flex-start, var(--espaceDiv));
      width: 100%;
    }

    .number{
      @include flex();
      border-radius: var(--radius);
      background-color: var(--color0);
      width: 32px; height: 32px;
      @include fontSemibold();
    }

    .content{
      padding-top: 4px;
      width: calc(100% - 32px);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #tutorials_create, #tutorials_update{
    .line-buttons{
      flex-direction: row;

      .btn{
        width: 100%;
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .tutorial-read{

    img{
      width: auto;
      max-width: 950px;
    }

    .steps{
      &:before{
        left: 23px;
      }

      .number{
        width: 48px;
        height: 48px;
        font-size: 18px;
      }

      .content{
        width: calc(100% - 48px);
      }
    }
  }
}
