{% extends 'user/pages/tutorials/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-12">
        <h3 class="text-3xl font-bold">Envois des données du logiciel Cursus vers l'Espace</h3>
        <div class="mt-4">
            Depuis le logiciel Cursus.
            <br>- Rendez-vous dans la fenêtre <i>Inscription web</i>.
            <br>- Cliquez sur <b>Export FTP</b>
            <br>- Une fenêtre s'affichera pour vous informer que le transfert est terminé.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/maj_persons/0.png') }}" alt="image 0">
            </div>
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">Récupération des données</h3>
        <div class="mt-4">
            Depuis l'interface administrateur.
            <br>- Rendez-vous dans la page <i>Logiciel Cursus</i>.
            <br>- Cliquez sur <b>Récupérer les données</b>
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/maj_persons/1.png') }}" alt="image 1">
            </div>
            <br>
            Une fois la commande terminée, cliquez sur la mise à jour qui vous convient.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/maj_persons/2.png') }}" alt="image 2">
            </div>
        </div>
    </div>
{% endblock %}
