{% extends 'user/pages/changelogs/template.html.twig' %}

{% set page_title %}Paramètrage des changelogs{% endset %}
{% set page_subtitle %}Modifiez les paramétrages des changelogs de {{ product.name }}.{% endset %}

{% set page_actions %}
    <div class="flex gap-2">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_help_changelogs_index', {p_slug: product.slug}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner aux changelogs'
        } %}
    </div>
{% endset %}

{% block main_content %}
    <div id="help_changelogs_settings"
         data-element="{{ element }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
