{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <div class="mt-4">
            Aussi appelé <i>hasBroker</i> dans la base de donnée dans la table <i>society</i> et <i>dr_element</i>.
        </div>
        <div class="mt-4">
            Le système de courtier permet de ne pas sélectionner par défaut soi-même lors des transferts et fusions de fichiers.
        </div>
    </div>
{% endblock %}
