{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <h3 class="text-3xl font-bold">Numéro article</h3>
        <div class="mt-4">
            Les articles possèdent un numéro unique. <br>
            Vous pouvez choisir de suivre la numérotation automatique utilisée par Magesto ou utiliser votre
            propre numérotation mais, celle-ci ne sera pas automatique.
            <br>
            Le numéro n'est pas modifiable après la création.
        </div>
    </div>
    <div class="py-6">
        <h3 class="text-3xl font-bold">Si l'option Comptabilité est active</h3>
        <div class="mt-4">
            Le numéro de comptabilité devient obligatoire à la saisie.
        </div>
    </div>
    <div class="py-6">
        <h3 class="text-3xl font-bold">Modification d'un client</h3>
        <div class="mt-4">
            Les documents en brouillon et les contrats <span class="text-red-500 font-semibold">ne seront pas modifiés</span>.
        </div>
    </div>
    <div class="py-6">
        <h3 class="text-3xl font-bold">Suppression d'un client</h3>
        <div class="mt-4">
            Si un document ou contrat existe, vous ne pourrez pas le supprimer.
        </div>
    </div>
{% endblock %}
