{% extends 'user/pages/documentations/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-6">
        <h3 class="text-3xl font-bold">Fonctionnement</h3>
        <div class="mt-4">
            Les contrats sont des factures récurrentes, selon une période (mensuelle, trimestrielle, semestrielle et annuelle).
            <br><br>
            Dans la liste des traitements des contrats, selon le mois à traiter, la liste affichera ceux concernés.
            <br><br>
            Chaque mois, un bouton permet de générer les factures des contrats du mois en cours en quelques clics.
            <br> Il est possible de traiter chaque contrat un à un, ainsi que de modifier la facture uniquement pour le mois concerné.
        </div>
    </div>
{% endblock %}
