{% extends 'app/email/template/template.html.twig' %}

{% block preheader %}Commentaire pour {{ name }}.{% endblock %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <div>
        <p style="width: 540px;">
            Message en <i>{{ type }}</i> pour <b>{{ name }}</b> : <br>
            {{ elem.message }}
        </p>
    </div>
{% endblock %}
