{% extends 'user/pages/products/template.html.twig' %}

{% set page_title %}Produits{% endset %}
{% set page_subtitle %}Liste de nos produits avec un centre d'aide{% endset %}

{% set page_actions %}
    {% if app.user.isAdmin %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('admin_products_create'),
            btn_type: 'blue',
            btn_icon: 'add',
            btn_text: 'Ajouter un produit'
        } %}
    {% endif %}
{% endset %}

{% block main_content %}
    <div class="flex flex-col gap-4 md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
        {% include "user/pages/products/components/products.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
