{% extends 'user/pages/documentations/template.html.twig' %}

{% set page_title %}Création d'une documentation pour {{ product.name }}{% endset %}
{% set page_subtitle %}Décrivez une fonctionnalité ou caractéristique de votre solution.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_help_documentation_index', {p_slug: product.slug}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner aux documentations'
    } %}
{% endset %}

{% block main_content %}

    <div id="documentations_create" data-product-slug="{{ product.slug }}">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
