{% extends 'user/pages/documentations/template.html.twig' %}

{% set page_title %}Création d'une documentation pour {{ product.name }}{% endset %}
{% set page_subtitle %}Décrivez une fonctionnalité ou caractéristique de votre solution.{% endset %}

{% set full_width = true %}

{% block main_content %}
{#    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('user_help_product_read', {'slug': product.slug}) } %}#}

    <div id="documentations_create" data-product-slug="{{ product.slug }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
