{% extends 'app/pages/contact/template.html.twig' %}

{% block title %}Demande de contact {{ parent() }}{% endblock %}

{% block main_content %}
    <div id="contacts_create">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
