@import "../vars/vars";

html{
  background: linear-gradient(0.4turn, var(--color1), var(--color0));
}

.homepage-header{
  color: var(--alpha);
  margin: var(--espaceLayout);
  text-align: center;
}

.homepage-header-content{
  @include maxscreen();
  margin: calc(var(--espaceDiv) * 4) auto;

  h1{
    margin-bottom: var(--espaceEls);
  }

  .subtitle{
    margin-bottom: var(--espaceLayout);
    opacity: 0.75;
  }

  .cta{
    max-width: 228px;
    margin: 0 auto;
  }
}

.homepage-section{
  background-color: var(--color0);
  color: var(--alpha);
  min-height: 40vh;
  padding: calc(var(--espaceLayout) * 2) var(--espaceLayout) calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .homepage-section-container{
    @include maxscreen();
  }

  .homepage-section-title{
    margin-bottom: calc(var(--espaceLayout) * 1.5);

    h2{
      text-align: center;
      margin-bottom: var(--espaceEls);
    }

    .subtitle{
      opacity: 0.75;
      text-align: center;
    }
  }
}

.homepage-section-0{
  position: relative;
  overflow: hidden;

  [class^="deco-"]{
    display: none;
  }
}

.products{
  @include flex(row, center, center, var(--espaceDiv));
  flex-wrap: wrap;

  .card{
    background-color: var(--color1);
    border-radius: calc(var(--radius) * 2);
    width: 100%;
    max-width: 366px;

    .card-header, .card-body, .card-footer{
      padding: var(--espaceDiv);
    }

    .card-header{
      @include flex(row, center, flex-start, 24px);
      border-bottom: 1px solid var(--color3);

      .logo{
        @include flex();
        width: 64px;
        height: 64px;
      }

      .name{
        & > span:first-child{
          @include fontSemibold();
          font-size: 20px;
        }
        .linkTo{
          margin-top: 2px;

          a{
            color: var(--primary);
            @include flex(row, flex-start, flex-start, 6px);

            [class^="icon-"]{
              font-size: 12px;
              transform: translateY(3px);
            }
          }
        }
      }
    }

    .card-body{
      border-bottom: 1px solid var(--color3);
      opacity: 0.85;
      font-size: 15px;
    }

    .card-footer{
      @include flex(row, flex-start, flex-end);
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .homepage-section-0{
    [class^="deco-"]{
      display: block;
    }

    .deco-0, .deco-1{
      position: absolute;
      opacity: 0.75;
      width: 53%;

      path{
        fill: var(--danger);
      }
    }

    .deco-0{
      top: 0; left: 0;
      transform: translate(-320px, -222px);

      path{
        transform: translate(100px, 100px) rotate(10deg);
      }
    }

    .deco-1{
      bottom: 0;
      right: 0;
      transform: translate(320px, 222px);

      path{
        transform: translate(100px, 100px);
      }
    }
  }

  .homepage-section-container{
    position: relative;
  }
}

//                      __   _ _  _   _  _    ___    __
//                     | _| / | || | | || |  / _ \  |_ |
//    _____ _____ _____| |  | | || |_| || |_| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |__   _|__   _| |_| |  | |_____|_____|_____|
//                     | |  |_|  |_|    |_|  \___/   | |
//                     |__|                         |__|
@media (min-width: 1440px){
  .homepage-section-0{
    .deco-0{
      transform: translate(-408px, -292px);
    }
  }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
  .homepage-section-0{
    .deco-0{
      width: 45%;
      transform: translate(-418px, -298px);

      path{
        transform: translate(100px, 100px) rotate(16deg);
      }
    }

    .deco-1{
      transform: translate(446px, 350px)
    }
  }
}
