{% extends 'user/pages/tutorials/template.html.twig' %}

{% set page_title %}Création d'un guide pour {{ product.name }}{% endset %}
{% set page_subtitle %}Décrivez le cheminement d'une fonctionnalité de votre solution.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_help_product_read', {slug: product.slug}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la page'
    } %}
{% endset %}

{% block main_content %}
    <div id="tutorials_create" data-product-slug="{{ product.slug }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
