{% extends 'app/layout/layout.html.twig' %}

{% block title %}Help center | Logilink{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="homepage-header">
        <div class="homepage-header-content">
            <h1>Hello {{ controller_name }}! ✅</h1>

            <div class="cta">
                <a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
            </div>
        </div>
    </div>
{% endblock %}
